$white: #ffffff;
$white-two: #f7f7f7;
$blackish: #212121;
$brownish-grey: #6c6c6c;
$warm-grey: #8c8c8c;
$light-grey: #c7c7c7;
$dark-sky-blue: #1e88e5;
$mid-green: #43a047;
$tomato: #e53935;
$black: #000000;
$white-three: #f4f4f4;